<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel ="tests" >
<listeners>
<listener class-name="pratice.Listeners"/>

</listeners>
	<test name="ValidateNavigationBar">
		<classes>
			<class name="pratice.ValidateNavigationBar" />
		</classes>
	</test>
	<test name="ValidateTitle">
		<classes>
			<class name="pratice.ValidateTitle" />
		</classes>
	</test>
	<test name="HomeTest">
		<classes>
			<class name="pratice.HomeTest" />
		</classes>
	</test>
</suite> <!-- Suite -->
